* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: var(--gray2);
}

body {
  height: 100vh;
}

.motion {
  width: 80px;
  aspect-ratio: 1;
  background: var(--green7);
  position: absolute;
  padding: 8px;
}

.wrapper {
  display: flex;
  gap: 1rem;
}

.relative {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reference {
  background: var(--green4);
  border: 2px dashed var(--green7);
}

.container {
  position: relative;
  background: var(--gray5);
  width: 30vw;
  aspect-ratio: 1;
  border-radius: 8px;
  margin-top: 16px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
